<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title><%= title %></title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Material Design Bootstrap -->
  <link href="/stylesheets/mdb.min.css" rel="stylesheet">

  <style type="text/css">
    .multiple-select-dropdown li [type=checkbox]+label {

      height: 1rem;

    }
  </style>
  <!-- Navigation -->
</head>

<body class="category-v3 hidden-sn white-skin animated">
  <% include header.ejs %>

  <!-- Main Container -->
  <div class="container">

    <div class="row pt-4">

      <div class="col-lg-12">

        <div class="row">

          <div class="col-10">

            <div class="md-form">
              <i class="fas fa-search prefix"></i>
              <input type="text" id="inputIconEx2" class="form-control">
              <label for="inputIconEx2">Name, borough, cuisine, borough, etc</label>
            </div>

          </div>

          <div class="col-2">
            <a class="nav-link waves-effect waves-light white-text font-weight-bold btn btn-info" href="#">
              Search</a>

          </div>

        </div>

        <!-- Products Grid -->
        <section class="section pt-4">

          <% restaurants.forEach(function(restaurant, index) {  
              if (index % 3 == 0) { %>
          <!-- Grid row -->
          <div class="row">
            <%} %>

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="data:<%= restaurant.photo_mimetype %>;base64,<%= restaurant.photo %>" class="card-img-top"
                    alt="">

                  <a href="/restaurant/<%= restaurant.name %>">

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="/restaurant/name/<%= restaurant.name %>" class="dark-grey-text"><%= restaurant.name %></a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2"><%= restaurant.cuisine %></span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="text-left col-6">

                        <strong><%= restaurant.borough %></strong>

                      </span>

                      <span class="text-right col-6">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Score">

                          <i class="fas fa-star ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>

                <!-- Card content -->
              </div>

              <!-- Card -->
            </div>
            <!-- Grid column -->


            <% if (index % 3 == 2) { %>
          </div>
          <!-- Grid row -->
          <% } %>
          <%}) %>
          <!-- Grid row -->
          <!-- <div class="row justify-content-center mb-4">

            <nav class="mb-4">

              <ul class="pagination pagination-circle pg-blue mb-0">

                <li class="page-item disabled clearfix d-none d-md-block">

                  <a class="page-link waves-effect waves-effect">First</a>

                </li>

                <li class="page-item disabled">

                  <a class="page-link waves-effect waves-effect" aria-label="Previous">

                    <span aria-hidden="true">«</span>

                    <span class="sr-only">Previous</span>

                  </a>

                </li>

                <li class="page-item active">

                  <a class="page-link waves-effect waves-effect">1</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">2</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">3</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">4</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">5</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect" aria-label="Next">

                    <span aria-hidden="true">»</span>

                    <span class="sr-only">Next</span>

                  </a>

                </li>

                <li class="page-item clearfix d-none d-md-block">

                  <a class="page-link waves-effect waves-effect">Last</a>

                </li>

              </ul>

            </nav>

          </div> -->
          <!-- Grid row -->

        </section>
        <!-- Products Grid -->

      </div>
      <!-- Content -->

    </div>

  </div>
  <!-- Main Container -->
  <% include footer.ejs %>
</body>

</html>