<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= title %></title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/stylesheets/mdb.min.css" rel="stylesheet">

    <style type="text/css">
        .multiple-select-dropdown li [type=checkbox] + label {

            height: 1rem;

        }
    </style>
    <!-- Navigation -->
</head>

<body class="category-v3 hidden-sn white-skin animated">
<% include header.ejs %>
<main>
    <!-- Main Container -->
    <div class="container">

        <div class="row pt-4">

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-md-4 mt-3">

                        <a href="/">Back to Home</a>

                        <!-- <select class="mdb-select grey-text md-form" multiple>

                          <option value="" disabled selected>Choose your option</option>

                          <option value="1">Option 1</option>

                          <option value="2">Option 2</option>

                          <option value="3">Option 3</option>

                        </select>

                        <label class="mdb-main-label">Example label</label>

                        <button class="btn-save btn btn-primary btn-sm">Save</button> -->

                    </div>

                    <div class="col-8 col-md-8 text-right">
                        <!--
                        <a class="btn blue darken-3 btn-sm">

                          <i class="fas fa-th mr-2" aria-hidden="true"></i>

                          <strong> Grid</strong>

                        </a>

                        <a class="btn blue darken-3 btn-sm">

                          <i class="fas fa-th-list mr-2" aria-hidden="true"></i>

                          <strong> List</strong>

                        </a> -->

                    </div>

                </div>

                <!-- Products Grid -->
                <section class="section pt-4">

                    <% restaurants.forEach(function(restaurant, index) {
                    %>
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-lg-12 col-md-12 mb-4">

                                <!-- Card -->
                                <div class="card card-ecommerce cascade wider">

                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">

                                        <img class="card-img-top"
                                             src="data:<%= restaurant.photo_mimetype %>;base64,<%= restaurant.photo %>"
                                             alt="">

                                        <a>

                                            <div class="mask rgba-white-slight"></div>

                                        </a>

                                    </div>
                                    <!-- Card image -->

                                    <!-- Card content -->
                                    <div class="card-body">

                                        <!-- Category & Title -->
                                        <h5 class="card-title mb-1">

                                            <strong>

                                                <a href="" class="dark-grey-text"><%= restaurant.name %></a>

                                            </strong>

                                        </h5>

                                        <strong><%= restaurant.borough %></strong>

                                        <p><span class="badge badge-danger mb-0"><%= restaurant.cuisine %></span></p>

                                        <div class="row mb-0">

                                            <div class="col-8">
                                                <!-- Rating -->
                                              <%
                                                let rated = false;
                                                let score = 0;
                                                restaurant.grades.forEach(function (value, index, array) {
                                                  if (value.user==session.userid){
                                                    if (value.score!=null){
                                                      rated=true;
                                                      if (score==0){
                                                        score = value.score;
                                                      }else{
                                                        score = (parseFloat(score)+parseFloat(value.score))/2;
                                                      }
                                                    }
                                                  }
                                                });
                                                if (rated==false && session.usid!=null){
                                              %>
                                                <form id="score_form" action="/api/restaurant/rate/restaurant_id/<%= restaurant.restaurant_id %>" method="post">
                                                    <div class="form-group form-inline">
                                                        <label for="score_slider"
                                                               class="col-sm-2 col-form-label">Rate: </label>
                                                        <span class="font-weight-bold indigo-text mr-2 mt-1">1</span>
                                                      <span class="range-field w-25">
                                                        <input class="border-0" type="range" min="1" max="10" name="score"
                                                               id="score_slider"/>
                                                      </span>
                                                        <span class="font-weight-bold indigo-text ml-2 mt-1">10</span>
                                                      <a class="btn-floating btn-sm btn-secondary" id="score_button" onclick="rate()"><i class="fas fa-check"></i></a>
                                                    </div>
                                                </form>
                                                <% }else{ %>
                                                <label for="score_slider"
                                                       class="col-sm-2 col-form-label">Rate: </label>
                                                <label><%=score %></label>
                                              <%}%>
                                                <!--                                            <ul class="rating">-->

                                                <!--                                                <li>-->

                                                <!--                                                    <i class="fas fa-star blue-text"></i>-->

                                                <!--                                                </li>-->

                                                <!--                                                <li>-->

                                                <!--                                                    <i class="fas fa-star blue-text"></i>-->

                                                <!--                                                </li>-->

                                                <!--                                                <li>-->

                                                <!--                                                    <i class="fas fa-star blue-text"></i>-->

                                                <!--                                                </li>-->

                                                <!--                                                <li>-->

                                                <!--                                                    <i class="fas fa-star blue-text"></i>-->

                                                <!--                                                </li>-->

                                                <!--                                                <li>-->

                                                <!--                                                    <i class="fas fa-star blue-text"></i>-->

                                                <!--                                                </li>-->

                                                <!--                                            </ul>-->
                                            </div>

                                            <div class="col-4">

                      <span class="float-right">

<!--                        <a class="" data-toggle="tooltip" data-placement="top" title="Score">-->
<!--                          <i class="fas fa-star ml-3"></i>-->
<!--                        </a>-->
                        <a class="" data-toggle="tooltip" data-placement="top" title="Edit"
                           href="/restaurant/update/restaurant_id/<%= restaurant.restaurant_id %>">
                          <i class="fas fa-edit"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Edit"
                           onclick="delete_restaurant('/api/restaurant/restaurant_id/<%= restaurant.restaurant_id %>')">
                         <i class="fas fa-trash"></i>
                        </a>

                      </span>
                                            </div>
                                        </div>
                                        <!-- Card footer -->
                                        <div class="card-footer pb-0">

                                            <% if (restaurant.address.coord&& restaurant.address.coord.length>0) { %>
                                                <!--Google map-->
                                                <div id="map-container-google-9" class="z-depth-1-half map-container-5"
                                                     style="height: 300px">
                                                    <iframe src="https://maps.google.com/maps?q=<%=restaurant.address.coord%>&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                                            frameborder="0" style="border:0;width: 100%;height: 100%;"
                                                            allowfullscreen></iframe>
                                                </div>

                                            <% } %>

                                            <% if (restaurant.address.street && restaurant.address.building) { %>
                                                <p class="mt-3">
                                                    Address: <%= restaurant.address.street %> <%= restaurant.address.building %>
                                                    <%= (restaurant.address.zipcode) ? '(' + restaurant.address.zipcode + ')' : ''; %></p>
                                            <% } %>
                                        </div>
                                    </div> <!-- Card content -->
                                </div>

                                <!-- Card -->
                            </div>
                            <!-- Grid column -->


                        </div>
                        <!-- Grid row -->
                    <% }) %>

                    <!-- Grid row -->
                    <!-- <div class="row justify-content-center mb-4">

                      <nav class="mb-4">

                        <ul class="pagination pagination-circle pg-blue mb-0">

                          <li class="page-item disabled clearfix d-none d-md-block">

                            <a class="page-link waves-effect waves-effect">First</a>

                          </li>

                          <li class="page-item disabled">

                            <a class="page-link waves-effect waves-effect" aria-label="Previous">

                              <span aria-hidden="true">«</span>

                              <span class="sr-only">Previous</span>

                            </a>

                          </li>

                          <li class="page-item active">

                            <a class="page-link waves-effect waves-effect">1</a>

                          </li>

                          <li class="page-item">

                            <a class="page-link waves-effect waves-effect">2</a>

                          </li>

                          <li class="page-item">

                            <a class="page-link waves-effect waves-effect">3</a>

                          </li>

                          <li class="page-item">

                            <a class="page-link waves-effect waves-effect">4</a>

                          </li>

                          <li class="page-item">

                            <a class="page-link waves-effect waves-effect">5</a>

                          </li>

                          <li class="page-item">

                            <a class="page-link waves-effect waves-effect" aria-label="Next">

                              <span aria-hidden="true">»</span>

                              <span class="sr-only">Next</span>

                            </a>

                          </li>

                          <li class="page-item clearfix d-none d-md-block">

                            <a class="page-link waves-effect waves-effect">Last</a>

                          </li>

                        </ul>

                      </nav>

                    </div> -->
                    <!-- Grid row -->

                </section>
                <!-- Products Grid -->

            </div>
            <!-- Content -->

        </div>

    </div>
</main>
<!-- Main Container -->
<% include footer.ejs %>
<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure to delete this restaurant?</p>
                <input type="hidden" id="delete_restaurant_url">
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fas fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a onclick="confirm_delete_restaurant()" class="btn  btn-outline-danger">Yes</a>
                <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalConfirmDelete-->
<script>
    function delete_restaurant(url) {
        $("#delete_restaurant_url").val(url);
        $('#modalConfirmDelete').modal("show");
    }

    function confirm_delete_restaurant() {
        var url = $("#delete_restaurant_url").val();
        $.ajax({
            type: "DELETE",
            url: url,
            success: function (data) {
                // location.reload();
                window.location.href = "/?success=" + encodeURI("Delete Restaurant Successful");
            },
        })

    }

    function rate() {
      $("#score_button").prop("disabled", true);
      $("#score_button").html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>");
      $("#score_form").submit(function(e) {

        var form = $(this);
        var url = form.attr('action');
        console.log(form.serialize());

        $.ajax({
          type: "POST",
          url: url,
          data: form.serialize(), // serializes the form's elements.
          success: function(data)
          {
            // location.reload();
            window.location.href = window.location.href.replace( /[\?#].*|$/, "?success=Rate%20Success" );
          },
        })

        e.preventDefault(); // avoid to execute the actual submit of the form.
      });
      $("#score_form").submit();
    }
</script>
</body>

</html>